@import '../../assets/variables.scss';

.header-container {
  background-color: $light-grey;
  display: grid;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $light-blue;

  .header {
    width: 100%;
    max-width: $max-width;

    .header-logo {
      font-weight: bold;
    }
  }
}
